*.iml
.gradle
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/buildSrc/build/
/buildSrc/build/classes/kotlin/main/
/keystore.properties
/gradle.properties
/white app/
/com.gamovation.tilecl.jks
/app/src/release/generated/baselineProfiles/baseline-prof.txt
/app/src/release/generated/baselineProfiles/startup-prof.txt
/core/data/src/main/res/values/strings.xml
/admob.properties
/Firebase CLI/functions/wordefull-cf277-e8d47b1d8be6.json
